*~
*.la
*.lo
*.in
*.kde*
*.log
*.o
install-sh
ltmain.sh
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
core*
depcomp
.deps
doc/
INSTALL
install-sh
libtool
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
missing
stamp-h1
vgcore.*
Doxyfile
INSTALL
.libs/
ar-lib
examples/c/scan
examples/c/url
examples/c/url_dist

